{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        {% if edit_form.vars.value.profilePicture %}
            <label for="" class="label label-primary">{{ edit_form.vars.value.profilePicture }}</label> <br>
        {% else %}
            <label class="label label-danger">No files</label>
        {% endif %}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('profile_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
